<!doctype html>
<html>
<head>
	<title>5y diary</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>

	<% if(checkLoggedIn == false){ %>
	<div id="logged_out">

		<%- include("./parts_user/login.ejs") %>

	</div>
	<% } %>  

	<% if(checkLoggedIn == true){ %>
	<div id="logged_in">
	
		<div>
			welcome, <%= user_nickname %>!!
		</div>
		<br>
		<form action="/user/logout" method="post">
			<input type="submit" value="log out">
		</form>

		<form action="/user/setting/<%= user_id %>" method="get">
			<input type="submit" value="setting">
		</form>

		<form action="/diary/daily/<%= user_id %>?year=<%= index_year %>&month=<%= index_month %>&date=<%= index_date %>" method="post">
			<input type="submit" value="D diary">
		</form>

		<form action="/diary/monthly/<%= user_id %>?year=<%= index_year %>&month=<%= index_month %>&date=<%= index_date %>" method="post">
			<input type="submit" value="M diary">
		</form>

		<form action="/diary/gen/<%= user_id %>" method="post">
			<input type="submit" value="dummy data generate">
		</form>

	</div>
	<% } %>  

	<%- include("./parts_user/register.ejs") %>

	<h1>service introduction</h1>
		<%- include("./introduction.ejs") %>



	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p>data load testing, from html</p>
	<p>from html: <%= Object.keys(user_list_id).length %></p>
	<p>from html: <%= index_year %></p>
</body>
</html>

<style>
	td {
		border: solid; 1px;
	}
	#logged_in {
		border: solid blue 2px;
		margin: 5%;
	}
</style>

<script>
	var obj = "<%= JSON.stringify(user_list_id) %>";
	obj = obj.replaceAll('&#34;', '\"');
	obj = JSON.parse(obj);

	document.write('data load testing, from script: ', obj[0]);
</script>
