<head>
	<link rel="stylesheet" href="/css/daily.css">
</head>

<div id="drag_drop_section">
</div>

<div id="logo">
걷는 생각들
</div>

<%- include("./parts_daily/public_buttons.ejs") %>

<%- include("./parts_daily/remote_con.ejs") %>



<div class="R-note" id="R2">
	<div class="R2_class date" id="R2_date"><%= dates[2] %></div>
	<div class="R2_class question" id="R2_question"><%= top_question %></div>
	<div class="R2_class content" id="R2_content"><%= top_content %></div>
</div>
<div class="R-note" id="R3">
	<div class="R3_class date" id="R3_date"><%= dates[1] %></div>
	<div class="R3_class question" id="R3_question"><%= mid_question %></div>
	<div class="R3_class content" id="R3_content"><%= mid_content %></div>
</div>
<div class="R-note" id="R4">
	<div class="R4_class date" id="R4_date"><%= dates[0] %></div>
	<div class="R4_class question" id="R4_question"><%= bot_question %></div>
	<div class="R4_class content" id="R4_content"><%= bot_content %></div>
</div>

<%- include("./parts_daily/writing_form.ejs") %>

<form id="navigate_page" action="" method="post">
	<input type="hidden" name="" value="">
</form>

<script>
	const index_year = <%- JSON.stringify(index_year) %>;
	const index_month = <%- JSON.stringify(index_month) %>;
	const index_date = <%- JSON.stringify(index_date) %>;

	const user_id = <%- JSON.stringify(user_id) %>;
	const today_index = <%- JSON.stringify(today_index) %>;
	const is_written = <%- JSON.stringify(is_written) %>;
	const writing_board_index = <%- JSON.stringify(writing_board_index) %>;
</script>


<script type="text/javascript" src="/js/daily/alias.js"></script>
<script type="text/javascript" src="/js/daily/public_event.js"></script>
<script type="text/javascript" src="/js/daily/navigation.js"></script>
<script type="text/javascript" src="/js/daily/navigation_mouse.js"></script>
<script type="text/javascript" src="/js/daily/navigation_button.js"></script>
<script type="text/javascript" src="/js/daily/navigation_keyboard.js"></script>
<script type="text/javascript" src="/js/daily/writing_diary.js"></script>
