<head>
	<link rel="stylesheet" href="/css/monthly.css">
</head>

<div id="window">
	<div id="side_bar">
	</div>

	<div id="navigate_button">
		<div class="navigate_button" id="today_button">
		THIS MONTH
		</div>
	</div>

	<div id="calendar_button">
	CALENDAR
	</div>

	<div id="keyboard_shortcut_help">
	keyboard_shortcut
	<br>
	help
	</div>

	<div id="daily_button">
	DAILY
	</div>

	<div id="writing_form_trigger">
	write DIARY
	</div>

	<div id="calendar_board">
		<%- include("../diary/parts_monthly/calendar.ejs") %>
	</div>


</div>

<div id="keyboard_shortcut_help_result">
<br>
<br>
"Navigate your note WITH"
<br>
: Shift + ArrowKey
<br>
<br>
<br>
"Select your note's WITH"
<br>
(left-side)
: Shift + [1 q a z]
<br>
(right-side)
: Shift + [2 w s x]
<br>
<br>
...and then...
<br>
<br>
"Open & Close red-line selected note's content WITH"
<br>
: Enter
</div>

<div id="">
	<%- include("./parts_monthly/writing_form.ejs") %>
</div>

<form id="navigate_page" action="" method="post">
	<input type="hidden" name="" value="">
</form>


<% let index_year_ = index_year; %>
<% let index_month_ = index_month; %>
<% let index_date_ = index_date; %>
<% let user_id_ = user_id; %>


<%# comment: When I tried to define variables below at alias.js file(which is inserted in this.ejs), I couldn't use ejs tag to get argument(which is object) from res.render method %>
<script>
	const index_year = <%= index_year_ %>;
	const index_month = <%= index_month_ %>;
	const index_date = <%= index_date_ %>;
	const user_id = <%= user_id_ %>;


</script>


<script type="text/javascript" src="/js/monthly/alias.js"></script>
<script type="text/javascript" src="/js/monthly/public_event.js"></script>
<script type="text/javascript" src="/js/monthly/navigation.js"></script>
<script type="text/javascript" src="/js/monthly/navigation_dragdrop.js"></script>
<script type="text/javascript" src="/js/monthly/navigation_button.js"></script>
<script type="text/javascript" src="/js/monthly/navigation_keyboard.js"></script>
<script type="text/javascript" src="/js/monthly/writing_form.js"></script>
