<head>
	<link rel="stylesheet" href="/css/read_monthly.css">
</head>

<body>

<div id="logo">
걷는 생각들
</div>

<%- include("./parts_monthly/public_buttons.ejs") %>

<div id="focus_index">
	<div id="focus_year_index">
	</div>
	<div id="focus_month_index">
	</div>
</div>

<button type="button" id="move_date_button">월별 보기</button>

<div id="monthly_candi">
	<% for(var i=0; i<12; i++){ %>
	<button type="button" id="button<%= i %>"><%= i+1 %>월</button>
	<% } %>
</div>

<button type="button" class="move_buttons" id="year_up">▲</button>
<button type="button" class="move_buttons" id="year_down">▼</button>
<button type="button" class="move_buttons" id="month_up">▲</button>
<button type="button" class="move_buttons" id="month_down">▼</button>

<form id="navigator" action="" method="post">
</form>

<div id="diary">
</div>

</body>






<script>
const db_obj = <%- JSON.stringify(db_obj) %>;
const index = <%- JSON.stringify(index) %>;
const today_index = <%- JSON.stringify(today_index) %>;
</script>

<script type="text/javascript" src="/js/monthly/read_monthly.js"></script>
